# PostgreSQL Connection
DATABASE_URL="postgresql://postgres:postgres@192.168.1.67:5432/monorepo_db"

# App
NODE_ENV=development
PORT=3000

# Frontend
VITE_API_URL=http://localhost:3000

# Redis
REDIS_URL="redis://admin:superadmin@192.168.1.67:6379"
